@import "./../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

// Global Variable
$font-color: #fff !default;
$bg-color:   #000 !default;
$font-light-black: #6e6e6e !default;

// Global
* {
  outline: 0 !important;
  font-family: "Lato", sans-serif;
  color: $font-color;
}

body {
  background-color: $bg-color;
}

.herounit {
  height: 80vh;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-center;

  input {
    border-radius: 0;
  }

  button {
    @extend .mt-2;
    border-radius: 0;
  }
}

.bg-dark {
  background-color: $bg-color !important;
}

.text {
  &-light {
    color: $font-color;
  }
  &-light-black {
    color: $font-light-black;
  }
}


.navbar-brand {
  @extend .text-light;
}

// Anchor
a {
  color: $font-color !important;
  &:hover {
    color: $font-color !important;
  }
}

// Links
.links {
  a {
    margin-left: 10px;
    margin-right: 10px;
  }
}

// Layout
.fullscreen {
  width: 100%;
  height: 500px;
}

// Calendar/Event
@import "Style/event";

// Footer
@import "Style/footer";