@import "./../node_modules/bootstrap/scss/bootstrap";

// Global
* {
  outline: 0 !important;
}

.herounit {
  height: 80vh;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;

  input {
    border-radius: 0;
  }

  button {
    @extend .mt-2;
    border-radius: 0;
  }
}