@import "./../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

// Global
* {
  outline: 0 !important;
  font-family: "Lato", sans-serif;
}

.herounit {
  height: 80vh;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;

  input {
    border-radius: 0;
  }

  button {
    @extend .mt-2;
    border-radius: 0;
  }
}